.banner-map {
  height: 280px;
  width: 100%;
  margin-top: 67px;
  position: relative;
  z-index: 0;
  background: #CCCCCC;
}
.banner-map > .l-section__container {
  height: 100%;
}
.banner-map > .l-section__container > .l-section__wrap {
  height: 100% !important;
}
.banner-map > .main-map {
  height: auto;
  width: 100%;
  z-index: -1;
}
.m-map-details {
  position: absolute;
  top: 60px;
  z-index: 9999;
  width: 100%;
  max-width: 480px;
}
.c-map-details__container {
  z-index: 0;
  background: #FFFFFF;
  padding: 10px !important;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 0 1px 5px #979797 !important;
}
.c-map-details__container.search {
  margin: 0;
  background: #FFFFFF;
  border-radius: 3px;
  height: 44px;
  overflow: hidden;
  padding: 0 !important;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 1px 5px #979797;
}
.c-map-details__container.info {
  z-index: 0;
  padding: 1px !important;
}
.c-map-details__container.street {
  z-index: 0;
}
.c-map-details__container.our-location {
  z-index: 0;
  background: none;
  color: #fff;
  box-shadow: none !important;
  margin-top: -10px;
}
.c-map-details--search__form {
  z-index: 0;
  margin: 0px !important;
}
.c-map-details--search__input {
  background: none repeat scroll 0 0 #FFFFFF !important;
  border: 0px !important;
  border-radius: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 44px !important;
  z-index: 9999;
  color: #666666 !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  text-indent: 20px;
  float: left;
  max-width: 410px;
  width: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}
.c-map-details--search__submit {
  background: none repeat scroll 0 0 #4588F7 !important;
  border: 0px !important;
  color: #FFFFFF;
  height: 44px;
  margin: 0 !important;
  padding: 0 !important;
  width: 70px;
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.c-map-details--search__submit > img {
  width: 27px;
}
.c-map-details--info__row {
  z-index: 0;
  margin: 0px;
  background: #FAFAFA;
}
.c-map-details--info__col {
  z-index: 0;
  padding: 20px;
}
.c-map-details--info__col.address {
  z-index: 0;
  background: #FAFAFA;
}
.c-map-details--info__col.options {
  z-index: 0;
  background: #FFFFFF !important;
  bottom: 0px;
  height: auto;
  max-height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
.c-map-details--info--address__container {
  z-index: 0;
}
.c-map-details--info--address__title {
  z-index: 0;
  font-size: 15px;
  margin: 15px 0px;
  text-transform: uppercase;
  line-height: 22px;
}
.c-map-details--info--address__street {
  z-index: 0;
  font-size: 16px;
  margin: 0px;
  line-height: 20px;
}
.c-map-details--info--address__city {
  z-index: 0;
  font-size: 17px;
  margin: 0px;
  line-height: 22px;
}
.c-map-details--info--address__hours {
  z-index: 0;
  font-size: 15px;
  margin: 15px 0;
}
.c-map-details--info--address__hours > em {
  z-index: 0;
  color: #4588F7;
  font-style: normal;
}
.c-map-details--info--options__container {
  z-index: 0;
}
.c-map-details--info--options__holder {
  z-index: 0;
  float: left;
  text-align: center;
  width: 45%;
}
.c-map-details--info--options__img {
  z-index: 0;
}
.c-map-details--info--options__anchor {
  z-index: 0;
  font-weight: 500;
}
.c-map-details--info--options__anchor:hover {
  z-index: 0;
  font-weight: 500;
  text-decoration: none;
}
.c-map-details--info--options__text {
  z-index: 0;
}
.c-map-details--info--options__holder.direction {
  z-index: 0;
  border-right: 1px solid #E3E3E3;
  padding-right: 13px;
  margin-top: 5px;
}
.c-map-details--info--options__img.direction {
  z-index: 0;
}
.c-map-details--info--options__anchor.direction {
  z-index: 0;
}
.c-map-details--info--options__text.direction {
  z-index: 0;
}
.c-map-details--info--options__holder.save {
  z-index: 0;
}
.c-map-details--info--options__img.save {
  z-index: 0;
}
.c-map-details--info--options__anchor.save {
  z-index: 0;
}
.c-map-details--info--options__text.save {
  z-index: 0;
}
.c-map-details--info--opt-contact-hr {
  margin: 15px 0 !important;
}
.c-map-details--info--contact__container {
  z-index: 0;
}
.c-map-details--info--contact__link {
  z-index: 0;
}
.c-map-details--info--contact__phone {
  z-index: 0;
  margin: 10px 0px;
}
.c-map-details--street__view {
  z-index: 0;
  width: 100%;
}
.c-map-details--our-location__heading {
  z-index: 0;
  font-size: 40px;
  text-shadow: 0 0 6px #aaa !important;
  font-weight: 700;
}
.location-navigation {
  z-index: 0;
  position: relative;
}
.location-navigation .l-section__outer-wrap {
  background: url("../img/bd-loc-menu-bg.jpg");
  height: 80px;
  box-shadow: 0 -90px 53px 42px rgba(0, 0, 0, 0.4);
}
.location-navigation .l-section__inner-wrap {
  z-index: 0;
  height: 100%;
}
.l-container.location-navigation {
  z-index: 0;
  height: 100%;
}
.m-loc-nav {
  z-index: 0;
  clear: both;
  position: absolute;
  top: 0px;
}
.c-loc-nav__container {
  z-index: 0;
}
.c-loc-nav__list {
  z-index: 0;
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
}
.c-loc-nav__list-item {
  z-index: 0;
  float: left;
  text-align: center;
  width: 125px;
  position: relative;
  height: 80px;
  line-height: 13px;
  vertical-align: bottom;
}
.c-loc-nav__list-item:hover {
  z-index: 0;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
}
.c-loc-nav__list-item.active {
  z-index: 0;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
}
.c-loc-nav__all-loc-icon {
  z-index: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: -21px;
  width: 50px;
  margin: auto;
}
.c-loc-nav__list-item-anchor {
  z-index: 0;
  color: #515355;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  bottom: -41px;
  position: relative;
}
.c-loc-nav__list-item-anchor.one-line {
  z-index: 0;
  bottom: -55px;
}
.c-loc-nav__list-item-anchor.two-lines {
  z-index: 0;
}
.c-loc-nav__list-item-anchor:hover {
  text-decoration: none;
}
.location-items {
  z-index: 0;
  margin: 50px 0px 50px 0px;
}
.location-items .l-section__outer-wrap {
  z-index: 0;
}
.location-items .l-section__inner-wrap {
  z-index: 0;
}
.location-items .l-location-items-row {
  z-index: 0;
  margin-bottom: 0;
  width: 100%;
}
.location-items .l-location-items-col {
  z-index: 0;
  margin: 0 20px 20px 0;
  max-width: 300px !important;
  min-width: 270px !important;
  width: 25%;
  float: left !important;
}
.m-loc-item {
  z-index: 0;
  width: 100%;
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 5px #eaeaea, inset 0 0 1px #fff;
}
.c-loc-item__map-holder {
  z-index: 0;
  height: 110px;
  overflow: hidden;
}
.c-loc-item__map {
  z-index: 0;
  width: 100%;
  margin-top: -35px;
}
.c-loc-item__addr-holder {
  z-index: 0;
  border: 1px solid #EAEAEA;
  border-left: none;
  border-right: none;
  background: #f8f8f8;
  position: relative;
  box-shadow: inset 0px 0px 2px #fff;
}
.c-loc-item__addr-anchor {
  z-index: 0;
}
.c-loc-item__addr-anchor:hover {
  text-decoration: none;
}
.c-loc-item__addr-txt-holder {
  z-index: 0;
  left: 0px;
  position: relative;
  width: 50%;
  padding: 10px;
}
.c-loc-item__addr-name {
  z-index: 0;
  color: #192631;
  font-size: 14px;
  margin: 0px;
  line-height: 16px;
  font-weight: 600;
}
.c-loc-item__addr-details {
  z-index: 0;
  color: #747b80;
  font-size: 14px;
  margin: 0px;
  line-height: 14px;
  font-weight: 400;
}
.c-loc-item__addr-icon {
  z-index: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
}
.c-loc-item__more-info-holder {
  z-index: 0;
  background: #f8f8f8;
  position: relative;
  box-shadow: inset 0px 0px 2px #fff;
}
.c-loc-item__more-info-anchor {
  z-index: 0;
}
.c-loc-item__more-info-anchor:hover {
  z-index: 0;
  text-decoration: none;
}
.c-loc-item__more-info-txt {
  z-index: 0;
  color: #192631;
  font-size: 15px;
  font-weight: 600;
  left: 0;
  margin: 0px;
  padding: 15px 10px;
  position: relative;
  top: 0px;
}
.c-loc-item__more-info-icon {
  z-index: 0;
  padding: 15px 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.paging {
  z-index: 0;
}
.paging .l-section__outer-wrap {
  z-index: 0;
}
.paging .l-section__inner-wrap {
  z-index: 0;
}
.paging .l-paging-row {
  z-index: 0;
}
.paging .l-paging-col {
  z-index: 0;
}
.paging .l-load-more-col {
  z-index: 0;
  text-align: center;
}
.m-paging {
  z-index: 0;
}
.c-paging__list {
  z-index: 0;
  list-style-type: none;
  margin: 0px;
}
.c-paging__item {
  padding: 1px 3px;
}
.c-paging__item.active,
.c-paging__item:hover {
  background: #cfcdcd;
}
.c-paging__item.active a,
.c-paging__item:hover a {
  color: #fff;
}
.c-paging__item {
  z-index: 0;
  border: 1px solid #cfcdcd;
  border-radius: 3px;
  float: left;
  font-size: 14px;
  margin-right: 6px;
  padding: 1px 3px;
}
.c-paging__link {
  z-index: 0;
  color: #acacac;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
}
.c-paging__link:hover {
  z-index: 0;
  text-decoration: none;
  color: #acacac;
}
.load-more-icon {
  z-index: 0;
  text-align: center;
}
.load-more-text {
  z-index: 0;
  text-align: center;
  color: #7e7e7e;
  font-size: 16px;
}
