// MAX: 1280px
// SIDEBAR: 230px
// HEADER: height: 73px

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@img-dir: "../img/";

// OVERRIDE BOOTSTRAP
// ==================

.container {
	@media (max-width: 480px) {
	}
	@media (max-width: 767px) {
	}
	@media (max-width: 979px) {
		max-width: 767px;
		width: auto !important;
	}
	@media (max-width: 1200px) {
		max-width: 940px;
		width: 100% !important;
	}
	@media (min-width: 1200px) {
		max-width: 1280px;
		width: 100% !important;
	}
}

// ================================================================
// BASE
// ================================================================

* { font-family: 'Lato', sans-serif; }
body { background: url("@{img-dir}bd-bg-01.jpg") repeat-x; }

@media (max-width:979px) {

}

@media (max-width:767px) {
	body { padding: 0px; }
}

@media (max-width:480px) {

}

@media (max-width:320px) {

}

// ================================================================
// LAYOUT
// ================================================================

.l-section { }
.l-section > .l-section__container { }
.l-section > .l-section__wrap { }
.l-section > .l-section__row { }
.l-section > .l-section__column { position: relative; }

@media (max-width:979px) {

}
@media (max-width:767px) {

}
@media (max-width:480px) {

}
@media (max-width:320px) {

}

// ================================================================
// LAYOUT : NAV
// ================================================================

.l-section--nav { }
.l-section--nav > .l-section__container { }
.l-section--nav > .l-section__wrap { }
.l-section--nav > .l-section__row { }
.l-section--nav > .l-section__column { }

@media (max-width:979px) {

}
@media (max-width:767px) {

}
@media (max-width:480px) {

}
@media (max-width:320px) {

}

// ================================================================
// LAYOUT : CONNECT
// ================================================================

.l-section--connect { }
.l-section--connect > .l-section__container { background: #2A2A2A; margin-top: 35px; }
.l-section--connect > .l-section__wrap { padding: 35px 0px 35px 0px; }
.l-section--connect > .l-section__row { }
.l-section--connect > .l-section__column { }

@media (max-width:979px) {

}
@media (max-width:767px) {

}
@media (max-width:480px) {

}
@media (max-width:320px) {

}

// ================================================================
// LAYOUT : FOOTER
// ================================================================

.l-section--footer { }
.l-section--nav > .l-section__container { }
.l-section--nav > .l-section__wrap { }
.l-section--nav > .l-section__row { }
.l-section--nav > .l-section__column { }

// ================================================================
// NAVBAR
// ================================================================

.m-main-nav { position:fixed; top:0; left:0; right:0; z-index: 9999;}
.c-main-nav__navbar { min-height: 67px; margin-bottom: 0px; }
.c-main-nav__navbar-inner { background-color: #FFFFFF !important; background: url("@{img-dir}bd-bg-header-01.jpg") 0px 0px repeat-x #FFFFFF !important; border: none !important; min-height: 67px; border-bottom: 1px solid #979797 !important; box-shadow: 0 1px 5px #979797, inset 0px 0px 1px #979797 !important; margin-bottom: 0px; z-index: 9999; border-radius: 0px !important; filter: none !important; position: relative !important; }
.c-main-nav__nav-container { }
.c-main-nav__btn-navbar { }
.c-main-nav__icon-bar { }
.c-main-nav__brand { }
.c-main-nav__nav-collapse { margin: 0px 0px 0px 0px !important; }
.c-main-nav__list { }
.c-main-nav__list-item { text-transform: uppercase; border-top: 5px solid transparent !important; padding: 18px 0 0 0 !important; }
.c-main-nav__list-item {
	&:hover {
		.c-main-nav__anchor { color: #346EB4 !important; }
		.c-main-nav__anchor > .c-main-nav__nav-icon--inactive { display: none; }
		.c-main-nav__anchor > .c-main-nav__nav-icon--active { display: inline; }
	}
	&:last-child > .c-main-nav__anchor { border-right: 0px solid transparent !important; }
	&.c-main-nav__list-item--active { border-top: 5px solid #346EB4 !important; }
	&.c-main-nav__list-item--active > .c-main-nav__anchor { color: #346EB4 !important; }
	&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--active { display: inline !important; }
	&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--inactive { display: none !important; }
}
.c-main-nav__anchor { color: #2F2F2F !important; background: none !important; box-shadow: none !important; font-family: 'Monserrat', 'Lato', sans-serif !important; font-size: 16px !important; font-weight: 800 !important; text-shadow: none !important; padding: 0 20px 0 20px !important; border-right: 1px solid #E0E0E0 !important; }
.c-main-nav__nav-icon { margin: -2px 4px 0px 0px; }
.c-main-nav__nav-icon--active { display: none; }
.c-main-nav__nav-icon--inactive { display: inline; }

@media (max-width: 1200px) {
	.m-main-nav { }
	.c-main-nav__navbar { }
	.c-main-nav__navbar-inner { }
	.c-main-nav__nav-container { }
	.c-main-nav__btn-navbar { }
	.c-main-nav__icon-bar { }
	.c-main-nav__brand { }
	.c-main-nav__nav-collapse { }
	.c-main-nav__list { }
	.c-main-nav__list-item { }
	.c-main-nav__list-item {
		&:hover {
			.c-main-nav__anchor { }
			.c-main-nav__anchor > .c-main-nav__nav-icon--inactive { }
			.c-main-nav__anchor > .c-main-nav__nav-icon--active { }
		}
		&:last-child > .c-main-nav__anchor { }
		&.c-main-nav__list-item--active { }
		&.c-main-nav__list-item--active > .c-main-nav__anchor { }
		&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--active {
		}
		&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--inactive { }
	}
	.c-main-nav__anchor { font-size: 13px !important; padding: 0 10px !important; border: none !important; }
	.c-main-nav__nav-icon {
	}
	.c-main-nav__nav-icon--active { }
	.c-main-nav__nav-icon--inactive { }
}

@media (max-width: 979px) {
	.m-main-nav { }
	.c-main-nav__navbar { }
	.c-main-nav__navbar-inner { }
	.c-main-nav__nav-container { }
	.c-main-nav__btn-navbar { margin: 15px; }
	.c-main-nav__icon-bar { }
	.c-main-nav__brand { }
	.c-main-nav__nav-collapse { margin: 20px auto; width: auto; float: none; text-align: center; }
	.c-main-nav__list { margin: 0px !important; }
	.c-main-nav__list-item { border-top: 5px solid transparent; float: left; }
	.c-main-nav__list-item {
		&:hover {
			.c-main-nav__anchor { }
			.c-main-nav__anchor > .c-main-nav__nav-icon--inactive {
			}
			.c-main-nav__anchor > .c-main-nav__nav-icon--active {
			}
		}
		&:last-child > .c-main-nav__anchor { }
		&.c-main-nav__list-item--active { border-top: none !important; }
		&.c-main-nav__list-item--active > .c-main-nav__anchor { }
		&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--active {
		}
		&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--inactive { display: none !important; }
	}
	.c-main-nav__anchor { }
	.c-main-nav__nav-icon {
	}
	.c-main-nav__nav-icon--active { border-top: 5px solid transparent !important; }
	.c-main-nav__nav-icon--inactive { display: inline; }
}

@media (max-width: 480px) {
	.m-main-nav { }
	.c-main-nav__navbar { }
	.c-main-nav__navbar-inner { }
	.c-main-nav__nav-container { }
	.c-main-nav__btn-navbar { }
	.c-main-nav__icon-bar { }
	.c-main-nav__brand { }
	.c-main-nav__nav-collapse { }
	.c-main-nav__list { }
	.c-main-nav__list-item { }
	.c-main-nav__list-item {
		&:hover {
			.c-main-nav__anchor { }
			.c-main-nav__anchor > .c-main-nav__nav-icon--inactive { display: none !important; }
			.c-main-nav__anchor > .c-main-nav__nav-icon--active { display: none !important; }
		}
		&:last-child > .c-main-nav__anchor { }
		&.c-main-nav__list-item--active { }
		&.c-main-nav__list-item--active > .c-main-nav__anchor { }
		&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--active { display: none !important; }
		&.c-main-nav__list-item--active > .c-main-nav__anchor > .c-main-nav__nav-icon--inactive { }
	}
	.c-main-nav__anchor { }
	.c-main-nav__nav-icon { display: none !important; }
	.c-main-nav__nav-icon--active { }
	.c-main-nav__nav-icon--inactive { }
}

// ================================================================
// CONNECT / SOCIAL
// ================================================================

.connect {
	.outer-wrap {
		background: #2A2A2A;
		margin-top: 35px;
		@media (max-width:767px) {
			//			margin-right: -20px;
			//			margin-left: -20px;
		}
		.inner-wrap {
			padding: 35px 0px 35px 0px;
			@media (max-width:979px) {
				//				margin-right: 20px;
				//				margin-left: 20px;
			}
			.col-container {
				width: 350px;
				@media (max-width: 1200px) {
					width: auto;
				}
				.form-container {
					.form-holder {
						form {
							width: 320px;
							@media (max-width: 1200px) {
								width: auto;
							}
							.control-group {
								margin-bottom: 23px;
								.controls {
									input, textarea, button {
										border-radius: 2px;
										background-color: rgb(32, 32, 32);
										font-size: 15px;
										font-weight: 700;
										text-indent: 10px;
										margin: 0;
										line-height: 20px;
										padding: 5px 0;
										text-indent: 10px;
										color: #FFFFFF;
										border-top: 1px solid #0D0D0D;
										border-left: 1px solid #141414;
										border-right: 1px solid #383838;
										border-bottom: 1px solid #515151;
										width: 100%;
										resize: none;
										-webkit-box-sizing: border-box;
										-moz-box-sizing: border-box;
										box-sizing: border-box;
									}
									input, button {
										height: 33px;
									}
									input[type='submit'], button[type='submit'] {
										border-bottom: 1px solid #0D0D0D;
										border-right: 1px solid #141414;
										border-left: 1px solid #383838;
										border-top: 1px solid #515151;
										text-indent: 0px;
										margin: 0;
										padding: 2px;
									}
									textarea {
										height: 80px;
									}
								}
							}
						}
					}
				}
				.col-holder {
					.title-holder {
						font-family: 'Montserrat', 'Lato', sans-serif;
						.title {
							color: #CFD5DA;
							font-weight: 500;
							font-size: 18px;
						}
						.subtitle {
							color: #A2ACB5;
							font-size: 13px;
							line-height: 15px;
							margin: 0;
							padding: 0;
							font-weight: 400;
						}
					}
					.stream-container {
						.stream-holder {
							.stream-list {
								list-style-type: none;
								margin: 0;
								padding: 0;
								.stream-list-item {
									margin-bottom: 15px;
									.tweet-container {
										.tweet-holder {
											.img-holder {
												margin: 20px 0px 0px 0px;
												float: left;
												@media (max-width:767px) {
													display: none;
												}
												img {
												}
											}
											.message-container {
												background: #202020;
												border: 1px solid transparent;
												float: left;
												width: 300px;
												@media (max-width:1200px) {
													width: 230px;
												}
												@media (max-width:979px) {
													width: 100%;
													max-width: 175px;
												}
												@media (max-width:767px) {
													max-width: none;
												}
												.message-holder {
													margin: 10px 15px;
													font-size: 12px;
													font-weight: 700;
													.name {
														margin: 0;
														.title-one {
															color: #007DC3;
														}
														.title-two {
															color: #C6D2D9;
														}
													}
													.message-text {
														color: #5D8BA5;
														line-height: 18px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.col-get-in-touch {
			}
			.col-tweet-list {
			}
			.col-stay-connected {
				.title-holder {
					margin-bottom: 20px;
					.title {
						margin-bottom: 0px !important;
					}
				}
				.row-email-connect {
					.email-submit {
						@media (max-width:767px) {
							margin-top: 20px;
						}
					}
				}
				.row-social-connect {
					margin-top: 30px;
					@media (max-width:320px) {
						margin-top: 20px;
					}
					.connect-text {
						float: left;
						font-size: 16px;
						color: #CFD5DA;
						font-weight: 700;
						margin: 8px 15px 0px 0px;
						@media (max-width:320px) {
							display: none;
						}
					}
					.social-list {
						list-style-type: none;
						margin: 0;
						padding: 0;
						float: left;
						@media (max-width:320px) {
							float: none;
							margin: auto;
						}
						.social-item {
							float: left;
							margin-right: 15px;
							@media (max-width:1200px) {
								margin-right: 5px;
							}
							@media (max-width:320px) {
								margin-right: 18px;
							}
							.bd-icon-container {
								.social-link {
									.social-icon-img.hover {
										display: none;
									}
									&:hover {
										.social-icon-img {
											display: none;
										}
										.social-icon-img.hover {
											display: block;
										}
									}
								}
								.social-icon-img {
								}
							}
						}
					}
				}
				.row-phone-number {
					margin-top: 50px;
					.img-holder {
						float: left;
						margin-right: 10px;
						.img {
						}
					}
					.phone-holder {
						float: left;
						margin-top: 5px;
						.phone {
							color: #CFD5DA;
							text-transform: uppercase;
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}

// ================================================================
// FOOTER
// ================================================================

.footer {
	.outer-wrap {
		background: #1E1E1E;
		@media (max-width:767px) {
			margin-right: -20px;
			margin-left: -20px;
		}
		.inner-wrap {
			padding: 25px 0px;
			@media (max-width:767px) {
				margin-right: 20px;
				margin-left: 20px;
			}
			.footer-text {
				color: #6B7D8B;
				font-size: 12px;
				&:hover {
					text-decoration: none;
				}
				a {
					color: #6B7D8B;
					margin: 0px 15px;
					&:first-child {
						margin-left: 30px;
					}
				}
			}
		}
	}
}

